* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --green: #8bc34a;
  --white: #fff;
  --black: black;
  --gray: whitesmoke;
  --lightblack: #333333;
  --lightorange: #fcb900;
  --lightskin: #f8f6f3;
  --red: red;
}

::selection {
  color: var(--black);
  background-color: var(--green);
}

.error {
  color: var(--red);
}

.error-top {
  padding-top: 20px;
}

.stop-scroll {
  position: fixed;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

/* Main Home Page */
/* Mobile first design */
.hero-section {
  background-color: var(--gray);
  width: 100%;
}

.hero-container {
  display: flex;
  flex-direction: column;
  padding: 2em 0 2em 0;
}

.hero-section-1,
.hero-section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-section-2 {
  margin: 1.5em 0 1em 0;
}

.first-hero-heading,
.main-hero-heading {
  font-family: "Times New Roman", Times, serif;
}

.first-hero-heading {
  padding: 0.5em;
  font-weight: 500;
  font-size: 1.5em;
}

.main-hero-heading {
  font-size: 2.2em;
  font-weight: 600;
  padding: 0.5em;
}

.hero-text {
  padding-bottom: 1em;
}

.shop-btn {
  display: inline-block;
  color: var(--white);
  background-color: var(--green);
  outline: none;
  margin-top: 1em;
  font-size: 1em;
  border: 2px solid var(--green);
  border-radius: 7px;
  text-decoration: none;
  padding: 1em;
  text-align: center;
}

.shop-now-link {
  text-decoration: none;
  color: inherit;
}

.hero-img {
  width: 75%;
}

/* Qualities Section */

.qualities-container {
  background-color: var(--black);
  color: var(--white);
  padding: 1em;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.quality-card {
  background-color: var(--lightblack);
  border: 2px solid var(--lightblack);
  border-radius: 4px;
  padding: 2em;
  flex: 1 1 20rem;
}

.quality-icon {
  font-size: 2.4em;
  color: var(--green);
}

.quality-card h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3em;
  padding: 0.7em 0 0.7em 0;
}

/* Product cards */

.product-cards-container {
  background-color: var(--gray);
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  background-color: var(--white);
  padding: 1em;
  margin: 1em;
  border: 2px solid var(--white);
  border-radius: 5px;
  text-align: center;
  flex: 1 1 25rem;
}

.product-card h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
  padding: 0.5em;
}

.product-card p {
  color: #333333;
}

/* Discount Card Section */

.discount-card {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 2em 1.5em 2em;
  text-align: center;
}

.discount-card p {
  font-size: 1.5em;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.shop-now-discount {
  border: 0;
  border-radius: 5px;
  margin-top: 1em;
  color: var(--white);
  background-color: var(--green);
  width: 250px;
  padding: 1em;
}

.shop-now-discount-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Reviews Section */

.reviews {
  background-color: var(--gray);
  text-align: center;
  padding: 1.6em 0.7em;
}

.reviews h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4em;
}

.review-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.review-card {
  background-color: var(--white);
  padding: 1em;
  margin: 1em;
  border: 2px solid var(--white);
  border-radius: 8px;
  flex: 1 1 20rem;
}

.ratings {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.review-icon {
  color: var(--lightorange);
  font-size: 1.2em;
}

.client-bio-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7em;
}

.client-name {
  padding-left: 0.7em;
  font-weight: 600;
}

/* Home Page */

/* Navbar */

header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  color: var(--black);
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem 9%;
}

.logo img {
  height: 4rem;
}

.mobile-search {
  display: none;
}

.link {
  text-decoration: none;
  color: black;
  padding: 0 1rem;
  font-size: 1rem;
}

.link:hover {
  color: var(--green);
}

.search-icon {
  display: none;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.2rem;
}

.cart-icon-container {
  position: relative;
  text-align: right;
}

.cart-icon {
  color: var(--green);
  font-size: 1.5em;
}

.cart-items-count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  left: 90%;
  border-radius: 50%;
  background-color: var(--green);
  color: var(--white);
  padding: 2px 5px;
  font-size: 0.8em;
}

.menu-icon {
  font-size: 2rem;
  color: var(--green);
  cursor: pointer;
  display: none;
}

/* Cart */

.cart-container {
  position: fixed;
  top: 0;
  left: calc(100% - 500px);
  width: 500px;
  z-index: 2000;
  background-color: var(--white);
  height: 100vh;
  /* max-height: auto; */
  transition: 0.5s;
  border-left: 1px solid var(--gray);
}

.cart-first-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid var(--black);
  height: 10;
}

.cart-first-row h1 {
  font-size: 1rem;
  font-weight: 200;
}

.cart-last-row {
  background-color: var(--white);
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 20%;
}
.cross-icon {
  font-size: 1rem;
  background-color: var(--white);
  color: var(--black);
  margin-top: 0.2em;
}

.cart-msg {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-body {
  padding: 1em;
  overflow-y: auto;
  height: 65%;
}

.cart-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1em 0 1em 0;
  border-bottom: 1px solid var(--black);
  position: relative;
}

.cart-item img {
  height: 70px;
  width: 70px;
}

.cart-content,
.cart-item-content,
.cart-item-btns {
  display: flex;
}

.cart-item-content {
  padding-left: 1em;
}

.cart-item-content p {
  font-size: 1em;
}

.cart-content {
  flex-direction: column;
}

.item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
}

.cart-item-btns {
  gap: 16px;
  padding: 0 1em;
}

.cart-item-btns button[type="number"] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: lightgray;
  outline: none;
  border: 3px solid lightgray;
  border-radius: 3px;
}

.name-and-delete {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.delete-icon {
  position: absolute;
  /* margin-top: 0.3em; */
  right: 5%;
  top: 10%;
}

.price-container {
  /* width: 95%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3em 1em;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  /* position: absolute;
  top: 73%; */
}

.cart-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout-btn,
.continue-shopping-btn {
  width: 95%;
  padding: 0.7em;
  background-color: var(--green);
  color: var(--white);
  font-size: 1em;
  border: 2px solid var(--green);
  border-radius: 5px;
  margin: 1.5em 1em 1em 1em;
}

.checkout-btn,
.view-cart-btn {
  text-decoration: none;
  text-align: center;
  color: var(--white);
  width: 90%;
}

/* Home Body */

.home {
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.search-box input[type="text"] {
  width: 100%;
  min-height: 30px;
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid gray;
  border-radius: 0.25rem;
}

/* Products section */

.products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5em;
  gap: 1.5rem;
  padding: 2rem 4%;
  width: 100%;
}

.product {
  width: 100%;
  flex: 1 1 30rem;
}

.product-image {
  position: relative;
  overflow: hidden;
}

.product-image img {
  height: 16rem;
}

.product-title {
  font-size: 1.4rem;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
}

.product-price {
  font-size: 1.3rem;
  padding-top: 10px;
  text-align: center;
}

/* Footer */

footer {
  color: var(--white);
  background-color: #001524;
  position: static;
  width: 100%;
}

.footer-row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 1em 3em 1em;
  border-bottom: 2px solid gray;
}

.footer-col {
  padding: 2em 6em 0 6em;
}

.footer-col p {
  font-family: "Times New Roman", Times, serif;
  font-size: 2em;
  padding: 1em 1em 0 0;
}

.footer-col ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer-col li {
  cursor: pointer;
  padding-top: 1em;
  font-size: 0.8em;
}

.footer-col li:hover {
  color: var(--green);
}

.footer-row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.footer-icon {
  font-size: 1.4em;
  margin-left: 0.5em;
}

.footer-icon:hover {
  color: var(--green);
}

/* No data to display */

.no-data {
  color: var(--green);
  font-size: 5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Individual Product Section */

.product-container {
  background-color: var(--gray);
  width: 100%;
}

.success-msg-container {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.success-bar {
  border-top: 5px solid var(--green);
  width: 100%;
  animation: moveProgressBar 3s linear 2s 1 alternate;
}

@keyframes moveProgressBar {
  0% {
    width: 100%;
  }
  20% {
    width: 80%;
  }
  40% {
    width: 60%;
  }
  60% {
    width: 40%;
  }
  80% {
    width: 20%;
  }
  100% {
    width: 0;
  }
}

.success-msg-content-container {
  display: flex;
  padding-top: 1.5em;
}

.success-icon {
  position: relative;
  top: -5px;
  color: var(--green);
  font-size: 1.7em;
}

.product-details-container {
  display: flex;
}

.product-details-container-additional {
  position: absolute;
  top: 150px;
}

.product-image-container {
  width: 50%;
  margin-bottom: 2em;
  padding: 4em 0 0 8em;
}

.product-img {
  width: 100%;
  height: auto;
}

.product-details {
  font-family: "Open Sans", sans-serif;
  width: 40%;
  padding: 4em 0 0 2em;
}

.product-details h1 {
  padding: 0.5em 0 0.2em 0;
  font-weight: 600;
  font-size: 2rem;
}

.product-details h2 {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.1em;
}

.product-details p {
  font-size: 1rem;
  padding: 0.2em;
  line-height: 1.6em;
  font-weight: 400;
}

.product-quantity-btn {
  height: 34px;
  width: 30%;
  border: 1px solid var(--black);
  padding: 0 1em;
}

.add-to-cart-btn {
  margin-top: 0.7em;
  width: 40%;
  background-color: var(--green);
  color: var(--white);
  font-size: 1.1rem;
  height: 34px;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border: 3px solid var(--green);
  border-radius: 5px;
}

/* 404 Page */

.page-not-found {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  gap: 16px;
  text-align: center;
  font-family: fantasy;
  background-color: var(--gray);
}

.page-not-found h1 {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: -1px;
  color: var(--green);
}

.page-not-found h2 {
  font-size: 2rem;
  font-weight: 700;
}

.page-not-found p {
  width: 75%;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.page-not-found button {
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: var(--green);
  color: var(--white);
  border: 0;
  margin-top: 5px;
  font-size: 1rem;
}

/* No data to display page */

.product-not-found {
  width: 100%;
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
}

.product-not-found h1 {
  font-size: 2rem;
  color: var(--green);
}

/* About Page */

.leaf-img {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}

.about-content-rows {
  padding: 10% 5%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.about-main-container,
.about-testimonial-card,
.about-data-container,
.about-qualities-container {
  width: 100%;
}

.about-main-container,
.about-heading-container,
.about-content,
.about-row-2,
.about-data-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-main-container {
  flex-direction: column;
}

.about-heading-container {
  width: 100%;
  padding: 10% 0;
  background-color: var(--lightskin);
}

.about-content {
  flex-direction: column;
  text-align: left;
}

.about-row-1 h1 {
  padding: 1em 0 0.5em 0.5em;
}

.about-row-1 p {
  padding: 0 0 1em 1em;
}

.about-row-2 img {
  width: 100%;
  margin: 0 1em 0 1em 0;
}

.about-data-container {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  flex-direction: column;
  text-align: center;
  margin: 2em 0 4em 0;
  padding: 1em 0 1em 0;
}

.about-data-container h1 {
  font-size: 1.5rem;
  padding: 1em 0 1em 0;
}

.about-data-container p {
  font-size: 1.5rem;
  padding: 1em 0 0.5em 0;
}

.about-data-container h2 {
  padding: 0 0 1em 0;
  font-weight: 400;
}

.about-data-container p {
  font-size: 2em;
}

.responsive-reviews-qualities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em 0 1em;
  margin-bottom: 2em;
}

.about-testimonial-card {
  background-color: var(--lightskin);
  margin: 1em 0 1em 0;
  border: 2px solid var(--lightskin);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.testimonial-img-1 {
  width: 95%;
  height: auto;
  border: 2px solid var(--white);
  border-radius: 10px;
  margin-top: -5%;
}

.about-testimonial-card p {
  padding: 1em;
}

.about-testimonial-bio {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
}

.about-testimonial-bio p {
  padding-left: 1em;
}

.qualities-container-1,
.qualities-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.qualities-container-1 {
  margin-top: 2em;
}

.qualities-container-1 h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.qualities-container-1 p {
  padding: 0.5em 0.5em 1em 0.5em;
}

.qualities-container-2 h1 {
  text-align: center;
  padding: 0.5em;
  font-family: "Times New Roman", Times, serif;
}

.qualities-container-2 img {
  margin: 1em 0 1em 0;
}

.about-qualities {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2%; */
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.about-qualities ul {
  list-style: none;
}

.about-qualities ul li {
  text-align: left;
}

.quality {
  display: flex;
  align-items: center;
  gap: 0.7em;
  margin-bottom: 8px;
}

.tick {
  color: var(--green);
  font-size: 2rem;
}

.remove-link-stylings {
  text-decoration: none;
  color: inherit;
}

.btn-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-cart-icon {
  font-size: 1.5rem;
}

.start-shopping-btn {
  background-color: var(--green);
  color: var(--white);
  border: 2px solid var(--green);
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  padding: 0.7em;
  margin: 1em 0 3em 0;
  width: 200px;
}

.start-shopping-btn p {
  padding-left: 1em;
}

/* Checkout Page */

.checkout-container {
  background-color: var(--lightskin);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.customer-form-main-heading {
  border-bottom: 5px solid var(--green);
  padding: 1em 1em 1em 0;
}

.customer-info-container h2,
.customer-form-main-heading h1 {
  font-family: "Times New Roman", Times, serif;
}

.customer-info-container {
  width: 100%;
}

.customer-form-sec-heading {
  padding: 1em 1em 1em 0;
  border-bottom: 2px solid lightgray;
}

.customer-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding-top: 1em;
}

.customer-form label {
  display: block;
  padding-bottom: 16px;
  font-weight: 600;
}

.full {
  grid-column: span 2;
}

.special-inputs {
  font-size: 15px;
}

.special-input-2 {
  margin-top: 20px;
}

select {
  width: 100%;
  height: 40px;
  font-size: 15px;
}

.customer-form input {
  padding: 1em;
  width: 100%;
  height: 40px;
}

.order-info-container {
  margin: 1.5em 0 1.5em 0;
  display: flex;
  flex-direction: column;
  padding: 1em 2em 2em 2em;
  gap: 10px;
  border: 2px solid lightgray;
  width: 100%;
}

.order-rows {
  padding-top: 15px;
}

.order-info-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid lightgray;
  padding: 20px 0;
}

.bold-text p {
  font-weight: bold;
}

.payment-methods-btns {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.radio-btn {
  display: flex;
  gap: 20px;
}

.place-order-btn {
  color: var(--white);
  background-color: var(--green);
  border: 0;
  border-radius: 10px;
  padding: 15px;
  font-size: 17px;
}

.final-order-msg-container {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8.7rem;
  text-align: center;
}

.final-order-msg {
  padding: 5rem;
  border: 5px solid var(--gray);
  border-radius: 30px;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.final-order-msg .bag-icon {
  font-size: 3rem;
  color: var(--green);
}

.final-order-msg h1 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--green);
}

.final-order-msg p {
  font-size: 1rem;
  font-weight: 600;
}

.final-order-msg .p2 {
  padding-top: 1.3em;
}

.final-order-msg span {
  color: var(--green);
}

.final-order-msg .btn {
  margin-top: 2em;
  text-decoration: none;
  background-color: var(--green);
  color: var(--white);
  padding: 0.7em 1em;
  border-radius: 10px;
  width: 50%;
  text-align: center;
}

@media only screen and (max-width: 999px) {
  .final-order-msg-container {
    padding: 2rem;
    height: 100vh;
    text-align: center;
  }

  .final-order-msg {
    padding: 2rem;
  }

  .final-order-msg h1 {
    font-size: 1.5rem;
  }

  .p1 {
    padding-top: 1em;
  }

  .final-order-msg .btn {
    width: 100%;
  }

  .cart-container {
    left: 0;
    width: 100%;
  }

  .search-box {
    display: none;
  }

  header {
    padding: 1rem;
  }

  header .logo img {
    height: 2.5rem;
  }

  header .navbar {
    display: none;
  }

  header .mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--gray);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    transition: 0.5s;
  }

  header .mobile-menu .link {
    margin: 1rem;
    padding: 1rem;
    background-color: var(--white);
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: block;
  }

  .mobile-right-nav {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .search-icon {
    display: block;
    color: var(--green);
    font-size: 1.8rem;
  }

  .menu-icon {
    display: block;
  }
}

@media only screen and (max-width: 700px) {
  .search-box-container {
    display: none;
  }

  /* Product page */

  .product-details-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 5em;
  }

  .product-image-container,
  .product-details {
    width: 100%;
  }

  .product-image-container {
    padding: 1em 1em 0 1em;
    margin-bottom: 0;
  }

  .product-details {
    padding: 1em;
  }

  /* Responsive footer */

  .footer-row-1,
  .footer-row-2 {
    display: flex;
    flex-direction: column;
  }

  .footer-col p {
    padding: 0;
    text-align: center;
  }

  .footer-icons {
    padding-top: 1em;
  }

  .footer-col ul {
    text-align: center;
  }
}

@media only screen and (min-width: 761px) {
  .shop-btn {
    width: 300px;
  }

  .hero-container {
    flex-direction: row-reverse;
    padding: 2em 1em 2em 1em;
  }

  .hero-section-1,
  .hero-section-2 {
    width: 50%;
  }

  .hero-section-1 {
    align-items: start;
    justify-content: center;
    text-align: left;
  }

  .hero-section-2 img {
    width: 100%;
    height: auto;
  }

  .first-hero-heading {
    padding-left: 0;
  }

  .main-hero-heading {
    padding-left: 0;
  }

  .shop-btn {
    width: 70%;
  }

  /* reviews section */

  .about-content-rows {
    flex-direction: row;
  }

  .data-row-1,
  .data-row-2,
  .data-row-3 {
    margin-left: 1em;
  }

  .about-row-1 {
    width: 45%;
  }

  .about-row-2 {
    width: 45%;
  }

  .about-data-rows {
    display: flex;
    gap: 1em;
    width: 100%;
    justify-content: space-around;
  }

  .responsive-reviews-qualities {
    flex-direction: row;
    width: 100%;
    padding: 5% 10%;
    gap: 5%;
  }

  .testimonial-img-1 {
    height: 400px;
  }

  .about-testimonial-container {
    width: 50%;
  }

  .qualities-container-1 {
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 1em;
  }

  .qualities-container-1 img {
    width: 30%;
  }

  .qualities-container1-content {
    display: flex;
    flex-direction: column;
  }

  .qualities-container-1 h1,
  .qualities-container-1 p {
    text-align: left;
    padding-left: 0;
  }

  .qualities-container-2 {
    align-items: start;
  }

  .qualities-container-2 h1 {
    text-align: left;
    padding-left: 0;
  }

  .about-qualities {
    width: 100%;
    justify-content: flex-start;
    gap: 20%;
  }

  .about-qualities ul li {
    padding-top: 0;
  }

  .tick {
    font-size: 1.5rem;
  }

  .checkout-container {
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    gap: 20px;
  }

  .customer-info-container {
    width: 50%;
  }
  .order-info-container {
    width: 50%;
    justify-content: center;
  }
}
